body{
    margin: 0;
    padding: 0;
    background-color: #F6E3CE;
    text-align: justify;
}

#cabecalho {

	background-color: #FE2E64;
	padding-left: 34px;
	padding-top: 20px; 
	padding-bottom: 13px;
	text-align: center;

}
#cabecalho h1 {
	font-size: 60px;
	font-family: 'Kaushan Script';
	color: white;
	font-weight: normal;

}
#cabecalho h2{
	font-size: 40px;
	font-family: times;
	color: white;
	font-weight: normal;
}

#verdade p {
	font: arial 14px;
        padding-left: 34px;
        padding-right: 34px;

}

#verdade h2{
	font: times;
	font-size: 24px;
	color: black;
	font-weight: normal;
        padding-left: 34px;
        padding-right: 34px;
}

#verdade img {
	float: left;
	width: 500px;
        padding-left: 34px;
        margin-right: 34px;
}


