@font-face {
  font-family: "MedievalSharp";
  src: url("../fonts/MedievalSharp.ttf")
}

html {
  background: url('../images/old-paper.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: "MedievalSharp", "Helvetica", "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

#chest {
  width: 47px;
  height: 38px;
  background: url('../images/psdx-sheet-chest.png') left top;
  transform: scale(2);
  margin: 3em auto;
  cursor: pointer;
}

.open {
  background-position-x: -140px !important;
}