html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background-image: url(../images/Wood-Grain-Border.png),
                      url(../images/422a80fe78ef288a53930fb95ef1573cdf90eecc.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover, cover;
}
