/*body{
  background: url("../imagens/fundo.png");
}*/
p{
  margin-left: 20px;
  color: #FF530D;
  font-family: "Times New Roman";
  font-size: 28px;
}
button{
  margin-left: 20px;
  color: gray;
  font-family: "Times New Roman";
  font-size: 28px;
}
img{
  position: fixed;
  height: 200px;
  width: 200px;
}

#voltar{
  margin-left: 5px;
  color: #FF530D;
  font-family: "Times New Roman";
  font-size: 12px;
}