body {
  background-image: url('img/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Aetherius";
}
#content{
  margin: 8% auto;
  max-width: 1000px;
  min-width: 100px;
  width: 30%;
  background: rgba(0,0,0,0.7);
  padding: 30px;
  border-image-slice: 25 25 25 25 fill; 
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 5px;
  border-image-repeat: stretch stretch;
  border-image-source: url("img/border.png");
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

h2 {
  font-size: 0.9em;
  text-transform: uppercase;
  text-align: center;
  font-family: 'DarksSkyrimFont';
  font-size: 16px;
  font-weight: bold;
  color: white;
}

#welcome{
  display: inline;
  color: white;
  font-size: 25px;
  font-family: "Arial";
}

#timeLoadPage, #navigationType{
  text-align: center;
  display: inline;
  color: white;
}