*{
    border:0;
    padding:0;
    margin:0;
}

body{
    min-height: 100%;
}

canvas{
    position: absolute;
    top: 100px;
    left: 25%;
    border: 1px solid gray;
}

#controls{
    position: absolute;
    top:100px;
    left:5px;
    padding:20px;
    border: 1px solid gray;
    background-color: lightskyblue;
    border-radius: 10px;
    box-shadow: 2px 2px 12px lightskyblue;
}

#colors-controls{
    position: relative;
    display: flex;
    width: 120px;
    flex-direction: column;
    align-content: space-between;
    top:100px;
    left:80%;
    padding:20px;
    border: 1px solid gray;
    background-color: grey;
    border-radius: 10px;
    box-shadow: 2px 2px 12px gray;
}

.colors-item{
    display: flex;
    align-content: center;
    padding: 10px;
}
.colors-item > p{
    align-self: space-around;
}


#red-color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    margin-right: 10px;
}

#blue-color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blue;
    margin-right: 10px;
}

#green-color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: green;
    margin-right: 10px;
}

#yellow-color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: yellow;
    margin-right: 10px;
}

#black-color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    margin-right: 10px;
}

#pink-color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: pink;
    margin-right: 10px;
}

#draw-style{
    position: absolute;
    top: 100px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

#draw-style > p{
    align-self: flex-end;
}