@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

h1,
h2,
p {
  color: #1b1b1b;
}

h1 {
  font-weight: 200;
}

.popup {
  position: fixed;
  width: 400px;
  background-color: #fcfcfc;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  border-radius: 1.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  box-shadow: 0 0 20px #0000003a;
}

.popup ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}
.popup ul li img {
  width: 70px;
  height: 70px;
  opacity: 0.7;
  object-fit: cover;
}
.popup ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
  font-size: 1.5rem;
}

.popup ul li:hover,
.selected {
  transition: outline-color 100ms ease-in;
  cursor: pointer;
  outline: 4px solid #74b665;
}
.popup ul li:hover img,
.popup .selected > img {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

/* music-selection: Equivalente ao hover do li no popup */
.music-selection {
  background-color: #00000004;
  transition: background-color 200ms ease-in;
  cursor: pointer;
  outline: 3px solid red;
}
.music-selection img {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.popup ul li:not(:last-child) {
  margin-bottom: 1rem;
}
.popup ul li .music-name {
  flex: 1;
}

.popup .press-to-start {
  font-weight: bold;
  color: #31abdc;
  display: flex;
  column-gap: 8px;
  transition: opacity 250ms ease-in;
}
.popup .press-to-start img {
  width: 20px;
  height: 20px;
}

.hide {
  opacity: 0;
}
