html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: linear-gradient(135deg, #8bec8b 0%, #95e2dc 100%);
}

main {
  padding: 10% 0;
  text-align: center;
}

h1 {
  font-size: 70px;
}

.botao{
  font-size: 20px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.botao:active {
  background: #627295;
}

#map {
  height: 400px;
  width: 70%;
  display: none;
}