body {
	margin: 0;
	background-color: #F0FFF0;
	text-align: center;
}

#bateria {
	font-size: 200px;
	background-color: blue;
	color: white;
}

.descarregando {
	background-color: orange;
}

.bateriaBaixa {
	background-color: red;	
}
